.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .app {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  grid-template-rows: 60% 40%;
}

.top {
  border-bottom: 3px solid black;
  display: flex;
  justify-content: left;
  align-items: left;
  white-space: pre-wrap;  
  vertical-align: bottom;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.bottom-button {
  display: flex;
  justify-content: left;
  align-items: left;
}

.bottom-left {
  border-right: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.segment {
  display: flex;
  gap: 10px;
}
